.carousel {
    position: relative;
    overflow: hidden;
    .item {
        overflow: hidden;
        /* if its active, display it (we won't use this in the react version!) */
        img.active {
            display: block;
        }
        img {
            width: 100%;
            display: none;
        }
    }
    /* indicators to keep track of the carousel. We will use flexbox to center it! */
    .indicators {
        list-style-type: none;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
        color: #fff;
        li {
            float: left;
            button {
                color: #fff;
                border: 0;
                background: transparent;
                cursor: pointer;
                margin: 4px;
            }
        }
    }
    /* next and previous buttons */
    .button-previous {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border: none;
        padding: 0 20px;
        background: transparent;
        color: #fff;
        font-size: 80px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }
    .button-next {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border: none;
        padding: 0 20px;
        background: transparent;
        color: #fff;
        font-size: 80px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }
}